body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tan;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    
}
#translate-btn {
    margin: 1rem;
    background-color: rgb(83, 127, 83);
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 0.7rem;
    border: none;
     
    &:hover {
        box-shadow: 0 0 10px grey;
    }
}

#input {
    @extend %standardSizing;
    border:none;
}

#output {
    @extend #input;
    //background-color: white;
    @extend %standardSizing;
    font-size: 2rem;
}

%standardSizing {
    min-width: 50vw;
    min-height: 15vh;
    padding:1rem;
}

