body {
    @extend %flexCenter;
    background-color: antiquewhite;
}

.container {
    @extend %standardSizing;
}

.header {
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
    }
}

main {
    @extend %flexCenter;
}

.box {
    @extend %flexCenter;
    width: 95%;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    padding: 0.5rem
}

// Styling translate button
#translate-btn {
    margin: 1rem;
    background-color: rgb(83, 127, 83);
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 0.7rem;
    border: none;
     
    &:hover {
        box-shadow: 0 0 10px grey;
    }
}

// Styling textarea 
#input {
    border-radius: 15px;
    padding: 1rem;
    width: 40vw;
    min-height: 10vh;
    background-color: white;
    border: 1.6px solid black;
}

#output {
    @extend #input;
}


//Placeholders
%standardSizing {
    min-width: 50vw;
    max-width: 80vw;
}

%flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}